body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #9ef9a1, #92dff9);
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}   

.title {
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  color: #333;
  padding: 20px; 
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.section {
  display: none;
  transition: opacity 0.3s ease;
}

.section.active {
  display: block;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-size: 1.1rem;
  color: #34495e;
}

select {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid #7096af;
  background: #ecf0f1;
  color: #34495e;
}

textarea {
  width: 100%;
  height: 120px;
  margin-top: 15px;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 2px;
  border: 1px solid #bdc3c7;
  background: #f8f9fa;
  color: #2c3e50;
  user-select: none;
}
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar div {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.2s ease-in-out;
}


.stats {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 1.2rem;
  color: #34495e;
}

.title-card{
  display: flex;
  gap: 10px;
}

.btn {
  background: #1abc9c;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
}

.btn:hover {
  background: #31cfb0;
}

.result-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

.result-value {
  font-weight: bold;
  color: #27ae60;
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

#textDisplay {
  display: inline-block;
  padding: 20px;
  border: 2px solid #34495e;
  border-radius: 10px;
  margin-top: 20px;
  background: #ecf0f1;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #2c3e50;
  word-wrap: break-word;
}

.material-icons {
  font-family: "Material Icons";
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 10px;
}

button {
  padding: 12px 30px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

button .material-icons {
  margin-left: 8px;
}
